extends layout 

include mixins/postComponent
include mixins/displayMessages
include mixins/userStats
include mixins/profileCard

block content 
  +displayMessages(messages)

  .row.justify-content-center.pb-5
    .col-sm-8.col-md-6.col-xl-5.col-xxl-4.d-flex.justify-content-center
      .card.w-100
        .card-body.shadow-md
          .w-100.d-flex.flex-row.flex-nowrap.justify-content-center
            i.bi.bi-person-circle.fs-1(
              style="font-size:100px !important;"
            )
          .w-100.d-flex.flex-row.flex-nowrap.justify-content-center
            h1= currentUser.username
          +userStats(currentUser)

  if queryParam === "posts"
    if postList && postList.length > 0
      .row.justify-content-center.pb-5
        .col-sm-10.col-md-9.col-lg-8
          div.vstack.gap-3
            each post in postList
              +postComponent(post, {canEdit: true})
  else if queryParam === "followers"
    if followerList && followerList.length > 0
      .row.justify-content-center.pb-5
        .col-sm-10.col-md-9.col-lg-8
          div.vstack.gap-3
            each user in followerList 
              +profileCard(user)
  else if queryParam === "following"
    if followingList && followingList.length > 0
        .row.justify-content-center.pb-5
          .col-sm-10.col-md-9.col-lg-8
            div.vstack.gap-3
              each user in followingList 
                +profileCard(user)

