extends layout 

block content 
  .row.justify-content-center
    .col-sm-10.col-md-9.col-lg-8
      div.vstack.gap-3
        each post in postList
          div
            div.card
              div.card-body
                blockquote.blockquote.mb-0
                  p= post.body
                  if isAuthenticated
                    //- Capitalize the username.
                    //- This code is split so the length isn't too long. 
                    - const capLetter = post.author.username.split('')[0].toUpperCase() 
                    - const letters = post.author.username.substring(1)
                    - const username = capLetter + letters
                    footer.blockquote-footer
                      =`Posted by ${username} on ${post.date}`
        else 
          div.border
            p There are no posts.